<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout}">
<head>
    <title>발주 등록 </title>

    <link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
</head>


<body layout:fragment="content">

<div style="padding:20px;">
    <h2>발주 등록</h2>
    <div style="padding:20px;">

    <label for="purchaseRequestSelect">구매요청코드 선택</label>
    <select id="purchaseRequestSelect">
        <option value="">-- 선택하세요 --</option>
    </select>
</div>
</div>

</body>

<th:block layout:fragment="script">
    <script src="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.js"></script>
    <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>

    <script th:src="@{/js/purchaseRequest.js}"></script>
</th:block>


</html>