<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
<div>
    <h1>일광건조 ERP</h1>
    <p>사원 로그인</p>
</div>

<form method="post" action="/account/login">
    <div>
        <label for="employeeId">사원번호</label>
        <input
                type="text"
                id="employeeId"
                name="employeeNumber"
                placeholder="사원번호를 입력하세요"
                required
                autofocus
        >
    </div>
    <div>
        <label for="password">비밀번호</label>
        <input
                type="password"
                id="password"
                name="passWord"
                placeholder="비밀번호를 입력하세요"
                required
        >
    </div>

    <button type="submit">로그인</button>
</form>
</body>
</html>
