<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
<div>
    <h1>일광건조 ERP</h1>
    <p>사원 로그인</p>
</div>

<form method="post" action="/account/login">
    <div>
        <label for="employeeNumber">사원번호</label>
        <input
                type="text"
                id="employeeNumber"
                name="username"
                value="26-00000"
                placeholder="사원번호를 입력하세요"
                required
                autofocus
        >
    </div>
    <div>
        <label for="password">비밀번호</label>
        <input
                type="password"
                id="password"
                name="password"
                value="1234"
                placeholder="비밀번호를 입력하세요"
                required
        >
    </div>
    <input type="hidden" name="${_csrf.parameterName }"
           value="${_csrf.token }" >

    <button type="submit">로그인</button>

    <div>
        <button type="button" class="" onclick="autoLoginAs('', '')">시스템 관리자 로그인</button>
    </div>
    <div>
        <button type="button" class="" onclick="autoLoginAs('', '')">인사부 관리자 로그인</button>
    </div>
    <div>
        <button type="button" class="" onclick="autoLoginAs('', '')">생산부 관리자 로그인</button>
    </div>
    <div>
        <button type="button" class="" onclick="autoLoginAs('', '')">일반 사원 로그인</button>
    </div>

</form>

<script>

    function autoLoginAs(empNo, password) {
        document.getElementById("employeeNumber").value = empNo;
        document.getElementById("password").value = password;
        document.querySelector('form').submit();
    }
</script>
</body>
</html>
