<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="table-fragment">
    <div class="table-wrapper">
        <table class="table">
            <thead>
            <tr>
                <th>사원번호</th>
                <th>성명</th>
                <th>부서</th>
                <th>직급</th>
                <th>상태</th>
                <th>전화번호</th>
                <th>Email</th>
                <th>작업</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="emp : ${employees}">
                <td th:text="${emp.employeeNumber}"></td>
                <td th:text="${emp.name}"></td>
                <td th:text="${emp.department}"></td>
                <td th:text="${emp.position}"></td>
                <td>
                    <span th:if="${emp.status == 1}">재직</span>
                    <span th:if="${emp.status == 2}">휴직</span>
                    <span th:if="${emp.status == 3}">퇴직</span>
                </td>
                <td th:text="${emp.phoneNumber}"></td>
                <td th:text="${emp.email}"></td>
                <td>상세</td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function getEmployeeList() {

    }
</script>