<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <title>전자결재</title>
    <th:block layout:fragment="style">
        <link rel="stylesheet" th:href="@{/css/draft.css}">
    </th:block>
</head>

<body>

<div layout:fragment="content">

    <h1>전자결재 문서 목록</h1>

    <button typ="button" onclick="openModal()">결재 등록</button>

    <!-- 문서 작성 모달 -->
    <div th:replace="hr/draftModal :: draftModal"></div>

    <!-- 상세보기 모달 -->
    <div th:replace="hr/draftDetailModal :: draftDetailModal"></div>

    <table>
        <thead>
        <tr>
            <th>결재 ID</th>
            <th>제목</th>
            <th>시작 날짜</th>
            <th>종료 날짜</th>
            <th>결과</th>
            <th>등록 및 조회</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="d : ${draftList}">
            <td th:text="${d.draft_id}">1</td>
            <td th:text="${d.draft_title}">제목</td>
            <td th:text="${#temporals.format(d.draft_startTime, 'yyyy-MM-dd')}"></td>
            <td th:text="${#temporals.format(d.draft_endDate, 'yyyy-MM-dd')}"></td>
            <td th:text="${d.draft_status}">대기</td>
            <td><button type="button" th:onclick="|draftDetail(${d.draft_id})|">상세보기</button></td>
        </tr>

        <tr th:if="${#lists.isEmpty(draftList)}">
            <td colspan="7">문서가 없습니다.</td>
        </tr>
        </tbody>
    </table>
</div>

<th:block layout:fragment="script">
    <script th:src="@{/js/draft.js}"></script>
</th:block>

</body>
</html>
