<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 문서 상세보기 모달 -->
<div th:fragment="draftDetailModal">
  <div id="draftDetailModal" class="modal">
    <div class="modalBody">

      <h3>결재 문서 상세보기</h3>

      <!-- 결재 문서 양식 -->
      <div class="form-group">
        <label>결재양식</label>
        <select id="detailDraftType">
          <option value="PTO">휴가</option>
          <option value="HDF">반차</option>
          <option value="BUY">구매</option>
          <option value="APP">발령</option>
        </select>
      </div>

      <!-- 제목 -->
      <div class="form-group">
        <label>제목</label>
        <input type="text" id="detailTitle_view" readonly>
      </div>

      <!-- 내용 -->
      <div class="form-group">
        <label>내용</label>
        <textarea id="detailContent_view" rows="5" readonly></textarea>
      </div>


        <!-- 첨부파일 -->
        <div class="form-group">
            <label>첨부파일</label>
            <div id="fileListContainer" class="file-list-box"></div>
        </div>

      <!-- 날짜 -->
      <div class="form-group">
        <label>결재 기간</label>
        <div class="date-group">
          <input type="date" id="detailStartDate_view" readonly>
          <span>~</span>
          <input type="date" id="detailEndDate_view" readonly>
        </div>
      </div>

      <!-- 버튼 -->
      <div class="form-group">
        <button type="button" class="btn-cancel" onclick="closeDetailModal()">닫기</button>
      </div>

      <div id="detail_Button_Group" class="detail_Button_Group" style="display: none;">
        <button type="button" class="btn-approve" onclick="decideApprove('승인')">승인</button>
        <button type="button" class="btn-reject" onclick="decideApprove('반려')">반려</button>
      </div>

    </div>
  </div>
</div>
</body>
</html>
