<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.ilkwangtech.sales.mapper.CustomerMapper">

    <insert id="insertCustomer" keyProperty="customerId">
        INSERT INTO customers (name, email, phone, valid)
        VALUES (#{name}, #{email}, #{phone}, 1)
    </insert>

    <select id="selectByName" resultType="com.itwillbs.ilkwangtech.sales.dto.CustomerDTO">
        SELECT
        customer_id AS customerId,
        name,
        email,
        phone,
        valid
        FROM customers
        WHERE name = #{name}
    </select>

    <select id="selectByPage" resultType="com.itwillbs.ilkwangtech.sales.dto.CustomerDTO">
        SELECT
        customer_id AS customerId,
        name, email, phone, valid
        FROM customers
        ORDER BY customer_id ASC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="selectById" resultType="com.itwillbs.ilkwangtech.sales.dto.CustomerDTO">
        SELECT
        customer_id AS customerId,
        name, email, phone, valid
        FROM customers
        WHERE customer_id = #{customerId}
    </select>

    <update id="update">
        UPDATE customers
        SET name = #{name},
        email = #{email},
        phone = #{phone},
        valid = #{valid}
        WHERE customer_id = #{customerId}
    </update>

    <update id="invalid">
        UPDATE customers SET valid = 0 WHERE customer_id = #{customerId}
    </update>

    <update id="valid">
        UPDATE customers SET valid = 1 WHERE customer_id = #{customerId}
    </update>

    <select id="selectCount" resultType="long">
        SELECT COUNT(*) FROM customers
    </select>

</mapper>