<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.ilkwangtech.sales.mapper.PurchaseRequestMapper">

    <insert id="createPurchase" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        <selectKey keyProperty="purchaseId" resultType="string" order="BEFORE">
            SELECT 'PR-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(PURCHASE_SEQ.NEXTVAL, 3, '0') FROM DUAL
        </selectKey>

        INSERT INTO purchase_detail (purchase_id, item_id, unit, amount, contract_type, due_date, dlv_locate )
        VALUE (#{purchaseId},
        #{itemId},
        #{unit},
        #{amount},
        #{contractType},
        #{dueDate},
        #{dlvLocate});
    </insert>

</mapper>